In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///db/Chicago_Crime_DB.sqlite")

In [3]:
db = Session(engine)

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['Crime_2017', 'Crime_2018']

In [6]:
crime_2017 = Base.classes.Crime_2017
crime_2018 = Base.classes.Crime_2018

In [7]:
stmt_2017 = db.query(crime_2017).statement
df_2017 = pd.read_sql_query(stmt_2017, db.bind)

stmt_2018 = db.query(crime_2018).statement
df_2018 = pd.read_sql_query(stmt_2018, db.bind)

In [8]:
months_array = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [9]:
monthly_crime_2017 = {}
monthly_crime_2018 = {}
for month in months_array:
    monthly_crime_2017[month] = db.query(crime_2017).filter(crime_2017.Month == month).count()
    monthly_crime_2018[month] = db.query(crime_2018).filter(crime_2018.Month == month).count()

In [10]:
print(monthly_crime_2017)
print(monthly_crime_2018)

{'Jan': 6319, 'Feb': 5752, 'Mar': 6368, 'Apr': 6874, 'May': 7615, 'Jun': 7801, 'Jul': 7886, 'Aug': 7640, 'Sep': 7501, 'Oct': 7207, 'Nov': 6574, 'Dec': 6359}
{'Jan': 6140, 'Feb': 5420, 'Mar': 6560, 'Apr': 6385, 'May': 8147, 'Jun': 7676, 'Jul': 8011, 'Aug': 7744, 'Sep': 7254, 'Oct': 7156, 'Nov': 6226, 'Dec': 6543}

In [14]:
ward_2017 = {}
ward_2018 = {}
for i in range(1, 51):
    ward_2017[str(i)] = db.query(crime_2017).filter(crime_2017.Ward == float(i)).count()
    ward_2018[str(i)] = db.query(crime_2018).filter(crime_2018.Ward == float(i)).count()

In [15]:
print(ward_2017)
print(ward_2018)

{'1': 1171, '2': 3262, '3': 2660, '4': 1571, '5': 2347, '6': 3172, '7': 2728, '8': 2633, '9': 2579, '10': 1509, '11': 979, '12': 1114, '13': 840, '14': 1091, '15': 2329, '16': 2437, '17': 3448, '18': 1459, '19': 578, '20': 3167, '21': 2635, '22': 1102, '23': 787, '24': 4382, '25': 1222, '26': 1277, '27': 2755, '28': 4247, '29': 2169, '30': 1123, '31': 1039, '32': 762, '33': 698, '34': 2394, '35': 893, '36': 732, '37': 2256, '38': 778, '39': 701, '40': 806, '41': 634, '42': 2916, '43': 668, '44': 956, '45': 676, '46': 1041, '47': 533, '48': 721, '49': 1140, '50': 778}
{'1': 1032, '2': 2601, '3': 2703, '4': 1690, '5': 2167, '6': 3146, '7': 2669, '8': 2655, '9': 2602, '10': 1525, '11': 923, '12': 1070, '13': 769, '14': 958, '15': 2252, '16': 2592, '17': 3339, '18': 1378, '19': 507, '20': 2967, '21': 2715, '22': 1159, '23': 741, '24': 4229, '25': 1197, '26': 1247, '27': 2944, '28': 4375, '29': 2182, '30': 1006, '31': 998, '32': 646, '33': 795, '34': 2397, '35': 922, '36': 782, '37': 2467, '38': 771, '39': 694, '40': 858, '41': 655, '42': 3209, '43': 679, '44': 961, '45': 694, '46': 1057, '47': 511, '48': 843, '49': 1170, '50': 812}

In [18]:
data = {'2017' : {'monthly_crime': monthly_crime_2017, 'ward_crime': ward_2017}, 
        '2018': {'monthly_crime': monthly_crime_2018, 'ward_crime': ward_2018}}

In [19]:
print(data)

{'2017': {'monthly_crime': {'Jan': 6319, 'Feb': 5752, 'Mar': 6368, 'Apr': 6874, 'May': 7615, 'Jun': 7801, 'Jul': 7886, 'Aug': 7640, 'Sep': 7501, 'Oct': 7207, 'Nov': 6574, 'Dec': 6359}, 'ward_crime': {'1': 1171, '2': 3262, '3': 2660, '4': 1571, '5': 2347, '6': 3172, '7': 2728, '8': 2633, '9': 2579, '10': 1509, '11': 979, '12': 1114, '13': 840, '14': 1091, '15': 2329, '16': 2437, '17': 3448, '18': 1459, '19': 578, '20': 3167, '21': 2635, '22': 1102, '23': 787, '24': 4382, '25': 1222, '26': 1277, '27': 2755, '28': 4247, '29': 2169, '30': 1123, '31': 1039, '32': 762, '33': 698, '34': 2394, '35': 893, '36': 732, '37': 2256, '38': 778, '39': 701, '40': 806, '41': 634, '42': 2916, '43': 668, '44': 956, '45': 676, '46': 1041, '47': 533, '48': 721, '49': 1140, '50': 778}}, '2018': {'monthly_crime': {'Jan': 6140, 'Feb': 5420, 'Mar': 6560, 'Apr': 6385, 'May': 8147, 'Jun': 7676, 'Jul': 8011, 'Aug': 7744, 'Sep': 7254, 'Oct': 7156, 'Nov': 6226, 'Dec': 6543}, 'ward_crime': {'1': 1032, '2': 2601, '3': 2703, '4': 1690, '5': 2167, '6': 3146, '7': 2669, '8': 2655, '9': 2602, '10': 1525, '11': 923, '12': 1070, '13': 769, '14': 958, '15': 2252, '16': 2592, '17': 3339, '18': 1378, '19': 507, '20': 2967, '21': 2715, '22': 1159, '23': 741, '24': 4229, '25': 1197, '26': 1247, '27': 2944, '28': 4375, '29': 2182, '30': 1006, '31': 998, '32': 646, '33': 795, '34': 2397, '35': 922, '36': 782, '37': 2467, '38': 771, '39': 694, '40': 858, '41': 655, '42': 3209, '43': 679, '44': 961, '45': 694, '46': 1057, '47': 511, '48': 843, '49': 1170, '50': 812}}}